.services-wrapper .services .services__list .services__item .services__photo-link {
	position: relative;
	width: 100%;
	background: #FFFFFF;
	max-height: 225px;
	overflow: hidden;
	height: 225px;
	min-height: 225px;
}

.services-wrapper .services .services__list .services__item .services__photo-link img {
	max-width: initial;
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.modal.show {
	display: block;
}

.orderService__wrapper.hidden_section {
	margin-top: 0;
}

.orderService__wrapper .header-banner__link {
	text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    padding: 18px 26px;
    border-radius: 99px;
    margin-top: 28px;
    color: #E5E5E5;
    text-align: center;
    display: none;
}

.orderService__wrapper.hidden_section .header-banner__link {
    display: flex;
}

.orderService__wrapper.hidden_section .orderService__form {
	display: none;
}

.pryvatnyy-sektor-menu-item {
    border: 1px solid #BFBEBE;
    border-radius: 4px;
    margin: 0 !important;
    padding: 0 20px !important;
}
