*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: 'Fira Sans';
}

ul[class],
ol[class] {
    list-style: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img {
    max-width: 100%;
    display: block;
}

article > * + * {
    margin-top: 1em;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 100;
    src: local('Fira Sans Thin'), local('FiraSans-Thin'),
        url('../fonts/FiraSans-Thin.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 200;
    src: local('Fira Sans ExtraLight'), local('FiraSans-ExtraLight'),
        url('../fonts/FiraSans-ExtraLight.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Fira Sans Light'), local('FiraSans-Light'),
        url('../fonts/FiraSans-Light.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Fira Sans Regular'), local('FiraSans-Regular'),
        url('../fonts/FiraSans-Regular.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 500;
    src: local('Fira Sans Medium'), local('FiraSans-Medium'),
        url('../fonts/FiraSans-Medium.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Fira Sans SemiBold'), local('FiraSans-SemiBold'),
        url('../fonts/FiraSans-SemiBold.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Fira Sans Bold'), local('FiraSans-Bold'),
        url('../fonts/FiraSans-Bold.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Fira Sans ExtraBold'), local('FiraSans-ExtraBold'),
        url('../fonts/FiraSans-ExtraBold.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 900;
    src: local('Fira Sans Black'), local('FiraSans-Black'),
        url('../fonts/FiraSans-Black.ttf') format('truetype');
    font-display: swap;
}
button {
    outline: none;
    border: none;
}
a {
    text-decoration: none;
}
button:hover {
    cursor: pointer;
}
.btn-red {
    background: #F2664F;
}
.page__title {
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    color: #4A5568;
    padding-top: 30px;
    padding-bottom: 30px;
}
.section__title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #4A5568;
}
.container {
    max-width: 1440px;
    margin: auto;
}
body {
    background: #F8F8FB;
}
.wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}
main {
    width: 100%;
}
.with-select {
    span.select2 {
        .selection {
            .select2-selection {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #DDE6EE;
                box-sizing: border-box;
                border-radius: 8px;
                .select2-selection__rendered {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    color: #757889;
                }
            }
        }
    }
}


.c__header__wrapper {
    background: rgba(254, 254, 254, 1);
    box-shadow: 0px -11.105px 47.1964px #E8E8E9;
}

.c__header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    grid-column-gap: 20px;
    .menu-icon {
        display: none;
    }
    .c__header__newOrder {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        grid-column-gap: 14px;
        padding: 10px 30px;
        border: 2px solid rgba(218, 131, 140, 0.3);
        border-radius: 8px;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        color: #4A5568;
        transition: all 0.3s;
        svg {
            transition: all 0.3s;
            stroke: #CF6854;
        }
    }
    .c__header__newOrder:hover {
        background: #CF6854;
        color: #FFFFFF;
        transition: all 0.3s;
        svg {
            transition: all 0.3s;
            stroke: #FFFFFF;
        }
    } 
    .c__header__nav {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        grid-column-gap: 35px;
        a {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            color: #4A5568;
            white-space: nowrap;
            transition: all 0.3s;
        }
        a:hover {
            color: #D24A43;
            transition: all 0.3s;
        }
    }
    .c__header__info {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        grid-column-gap: 32px;
        .notification-icon {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.3s;
            .condition {
                position: absolute;
                top: 0;
                right: 2px;
                display: none;
                justify-content: center;
                align-items: center;
            }
            svg {
                transition: all 0.3s;
                stroke: #425466;
            }
        }
        .notification-icon:hover {
            svg {
                transition: all 0.3s;
                stroke: #D24A43;
            }
        }
        .notification-icon.act {
            .condition {
                display: flex;
            }
        }
        .lang {
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            color: #757889;
            cursor: pointer;
            padding: 16px 10px;
            border: 2px solid rgba(235, 242, 250, 0.76);
            option {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                grid-column-gap: 7px;
            }
        }
        .profile {
            display: flex;
            flex-direction: row;
            align-items: center;
            grid-column-gap: 16px;
            .profile__icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 48px;
                height: 48px;
                background: #7895FF;
                border-radius: 50%;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: #FFFFFF;
            }
            .profile__info {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                .user__name {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    color: #4A5568;
                }
                .position {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 20px;
                    color: #757889;
                }
            }
        }
    }
}
.sidebar__menu {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    grid-row-gap: 15px;
    background: #FFFFFF;
    padding: 38px 20px;
    border-right: 1px solid #EDF2F7;
    max-width: 248px;
    width: 100%;
    margin-right: 50px;
    .title {
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 12px;
        text-transform: uppercase;
        color: #A8A8BA;
        cursor: default;
    }
    .menu__list {
        display: flex;
        flex-direction: column;
        grid-row-gap: 6px;
        .menu__item a {
            position: relative;
            display: flex;
            flex-direction: row;
            grid-column-gap: 20px;
            align-items: center;
            padding: 16px 0;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #4A5568;
            transition: all 0.3s;
            svg {
                transition: all 0.3s;
                stroke: #718096;
            }
            .counter {
                pointer-events: none;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                height: 20px;
                padding: 2px 10px;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
                background: rgba(207, 104, 84, 0.2);
                border-radius: 100px;
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 15px;
                color: #CF6854;
            }
        }
        .menu__item a:hover {
            color: #D24A43;
            transition: all 0.3s;
            svg {
                transition: all 0.3s;
                stroke: #D24A43;
            }
        }
    }
    .logout {
        display: flex;
        flex-direction: row;
        grid-column-gap: 20px;
        align-items: center;
        justify-self: flex-end;
        padding: 16px 0;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #4A5568;
        svg {
            transition: all 0.3s;
            fill: black;
        }
    }
    .logout:hover {
        color: #D24A43;
        transition: all 0.3s;
        svg {
            transition: all 0.3s;
            fill: #D24A43;
        }
    }
}
.account__wrapper {
    background: #FFFFFF;
    border-radius: 16px;
    padding: 25px;
    width: 336px;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    margin-right: 25px;
    .section__title {
        padding-bottom: 24px;
    }
    .account__info {
        display: flex;
        flex-direction: column;
        .owner, .owner__id__wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-bottom: 26px;
            div {
                display: flex;
                flex-direction: column;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 25px;
                color: #91929E;
                margin-left: 14px;
                .owner-name, .owner-id {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                    color: #3A3A39;
                    padding-top: 4px;
                }
            }
        }
    }
}
.volume__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FFFFFF;
    border-radius: 16px;
    padding: 25px;
    width: 410px;
    margin-bottom: 25px;
    .title__wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        grid-column-gap: 20px;
        padding-bottom: 25px;
    }
    .volume {
        display: flex;
        flex-direction: column;
        font-style: normal;
        font-weight: 600;
        font-size: 27px;
        line-height: 33px;
        color: #4A5568;
    }
}
.calendar__wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    background: #FFFFFF;
    border-radius: 16px;
    padding: 25px;
    .title__wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 25px;
    }
    #scheduler__calendar {

    }
}
.content__wrapper {
    display: flex;
    flex-direction: row;
    flex: 1 1 100%;
    margin-right: 50px;
    .content {
        flex: 1 0 71.5%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-right: 16px;
    }
    .addresses__wrapper {
        flex: 1 0 28.5%;
        background: #FFFFFF;
        border-radius: 16px;
        padding: 25px;
        .addresses {
            display: flex;
            flex-direction: column;
            grid-row-gap: 30px;
            .section__title {
                padding-bottom: 32px;
            }
            .addresses__list {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                .list__item {
                    border-top: 1px dashed #CCD4DE;
                    border-bottom: 1px dashed #CCD4DE;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: space-between;
                    align-items: flex-start;
                    padding: 30px 0;
                    .item__body {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        align-items: center;
                        grid-column-gap: 17px;
                        .item__img {
                            width: 45px;
                            height: 45px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 8px;
                            background: #69B6B0;
                        }
                        .item__text {
                            display: flex;
                            flex-direction: column;
                            grid-row-gap: 8px;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 17px;
                            color: #91929E;
                            .name {
                                font-weight: 600;
                                font-size: 16px;
                                line-height: 19px;
                                color: #4A5568;
                            }
                        }
                    }
                    .btn-more {
                        display: flex;
                        align-items: center;
                        background: none;
                        svg {
                            fill: #718096;
                        }
                    }
                }
                .list__item:nth-child(n+2) {
                    .item__body {
                        .item__img {
                            background: #E29950;
                        }
                    }
                }
                .list__item:nth-child(n+3) {
                    .item__body {
                        .item__img {
                            background: #6C4675;
                        }
                    }
                }
                .list__item:nth-child(n+4) {
                    .item__body {
                        .item__img {
                            background: #36ACBA;
                        }
                    }
                }
                .list__item:nth-child(n+5) {
                    .item__body {
                        .item__img {
                            background: #6B89B5;
                        }
                    }
                }
            }
            .addresses__list:not(first-child) {
                border-top: none;
            }
            .add-address {
                display: flex;
                justify-content: center;
                align-items: center;
                background: #EDF1F6;
                border-radius: 8px;
                padding: 14px;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                color: #2F5E97;
                transition: all 0.3s;
            }
            .add-address:hover {
                background: #2F5E97;
                color: #FFFFFF;
                transition: all 0.3s;
            }
        }
    }
}
.calendar__wrapper {
    .dhx_cal_prev_button {
        background-image: url(../img/arrow_left.svg);
    }
    .dhx_cal_next_button {
        background-image: url(../img/arrow_right.svg);
    }
    .dhx_cal_prev_button {
        background-image: url(../img/arrow_left_hov.svg);
    }
    .dhx_cal_next_button {
        background-image: url(../img/arrow_right_hov.svg);
    }
    .dhx_cal_tab {
        display: none;
    }
    .dhx_cal_scale_placeholder {
        box-shadow: none;
    }
    .dhx_cal_date {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #4A5568;
        font-family: 'Fira Sans';
    }
    .dhx_scale_bar {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 25px;
        color: #91929E;
        padding-bottom: 5px;
        font-family: 'Fira Sans';
    }
    .dhx_month_head {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: rgba(145, 146, 158, 0.6);
        padding-top: 8px;
        font-family: 'Fira Sans';
    }
    .dhx_cal_event_line,
    .dhx_cal_event_clear {
        background: #D36855;
        border-radius: 4px;
        color: #FFFFFF;
        font-family: 'Fira Sans';
    }
    .dhx_cal_today_button {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        font-family: 'Fira Sans';
    }
    .dhx_cal_nav_button:hover {
        background: rgba(207, 104, 84, 0.2);
    }
}
.dhx_cal_light {
    background: #FFFFFF;
    border-radius: 16px;
    font-family: 'Fira Sans';
    .dhx_cal_ltitle {
        text-align: center;
        border-radius: 16px 16px 0 0;
        border-bottom: 1px solid #2F5E97;
        background: #2F5E97;
        .dhx_title {
            text-transform: none;
        }
    }
    .dhx_cal_ltext textarea {
        border: 1px solid #E2E8F0;
        background: #FFFFFF;
        border-radius: 6px;
        transition: all 0.3s;
    }
    .dhx_cal_ltext textarea:hover,
    .dhx_cal_ltext textarea:focus {
        outline: none;
        border: 1px solid rgba(145, 146, 158, 0.6);
        transition: all 0.3s;
    }
    .dhx_section_time select {
        border: 1px solid #E2E8F0;
        background: #FFFFFF;
        border-radius: 6px;
        transition: all 0.3s;
    }
    .dhx_section_time select:hover,
    .dhx_section_time select:focus {
        outline: none;
        cursor: pointer;
        border: 1px solid rgba(145, 146, 158, 0.6);
        transition: all 0.3s;
    }
    .dhx_btn_set {
        outline: none;
        text-transform: none;
    }
    .dhx_btn_set,
    .dhx_save_btn_set {
        background: #EDF1F6;
        border: 2px solid #EDF1F6;
        border-radius: 6px;
        color: #2F5E97;
        transition: all 0.3s;
    }
    .dhx_btn_set:hover,
    div.dhx_save_btn_set:hover {
        background: #2F5E97;
        color: #FFFFFF;
        border-radius: 6px;
        transition: all 0.3s;
    }
    .dhx_delete_btn_set {
        background: #CF6854;
        border: 1px solid #CF6854;
        border-radius: 6px;
        color: #FFFFFF;
        transition: all 0.3s;
    }
    .dhx_delete_btn_set:hover {
        background: #BF604D;
        transition: all 0.3s;
    }
    .dhx_cancel_btn_set {
        background: #FFFFFF;
        border: 2px solid rgba(218, 131, 140, 0.3);
        border-radius: 6px;
        color: #4A5568;
        transition: all 0.3s;

    }
    .dhx_cancel_btn_set:hover {
        background: #CF6854;
        border: 2px solid rgba(218, 131, 140, 0.3);
        border-radius: 8px;
        color: #FFFFFF;
        transition: all 0.3s;
    }
}