*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Fira Sans';
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  src: local("Inter Thin"), local("Inter-Thin"), url("../fonts/Inter-Thin.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  src: local("Inter ExtraLight"), local("Inter-ExtraLight"), url("../fonts/Inter-ExtraLight.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: local("Inter Light"), local("Inter-Light"), url("../fonts/Inter-Light.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local("Inter Regular"), local("Inter-Regular"), url("../fonts/Inter-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: local("Inter Medium"), local("Inter-Medium"), url("../fonts/Inter-Medium.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: local("Inter SemiBold"), local("Inter-SemiBold"), url("../fonts/Inter-SemiBold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: local("Inter Bold"), local("Inter-Bold"), url("../fonts/Inter-Bold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: local("Inter ExtraBold"), local("Inter-ExtraBold"), url("../fonts/Inter-ExtraBold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: local("Inter Black"), local("Inter-Black"), url("../fonts/Inter-Black.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 100;
  src: local("Fira Sans Thin"), local("FiraSans-Thin"), url("../fonts/FiraSans-Thin.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 200;
  src: local("Fira Sans ExtraLight"), local("FiraSans-ExtraLight"), url("../fonts/FiraSans-ExtraLight.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Fira Sans Light"), local("FiraSans-Light"), url("../fonts/FiraSans-Light.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Sans Regular"), local("FiraSans-Regular"), url("../fonts/FiraSans-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: local("Fira Sans Medium"), local("FiraSans-Medium"), url("../fonts/FiraSans-Medium.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Fira Sans SemiBold"), local("FiraSans-SemiBold"), url("../fonts/FiraSans-SemiBold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Fira Sans Bold"), local("FiraSans-Bold"), url("../fonts/FiraSans-Bold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 800;
  src: local("Fira Sans ExtraBold"), local("FiraSans-ExtraBold"), url("../fonts/FiraSans-ExtraBold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 900;
  src: local("Fira Sans Black"), local("FiraSans-Black"), url("../fonts/FiraSans-Black.ttf") format("truetype");
  font-display: swap;
}

button {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

.btn-red {
  background: #F2664F;
}

.page__title {
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
  color: #4A5568;
  padding-top: 30px;
  padding-bottom: 30px;
}

.section__title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #4A5568;
}

.container {
  max-width: 1440px;
  margin: auto;
}

body {
  background: #F8F8FB;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

main {
  width: 100%;
}

.with-select span.select2 .selection .select2-selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #DDE6EE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
}

.with-select span.select2 .selection .select2-selection .select2-selection__rendered {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #757889;
}

.c__header__wrapper {
  background: #fefefe;
  -webkit-box-shadow: 0px -11.105px 47.1964px #E8E8E9;
          box-shadow: 0px -11.105px 47.1964px #E8E8E9;
}

.c__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px;
  grid-column-gap: 20px;
}

.c__header .menu-icon {
  display: none;
}

.c__header .menu-icon svg {
  stroke: #4A5568;
}

.c__header .menu-icon:hover svg {
  stroke: #CF6854;
}

.c__header .c__header__newOrder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-column-gap: 14px;
  padding: 10px 30px;
  border: 2px solid rgba(218, 131, 140, 0.3);
  border-radius: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #4A5568;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.c__header .c__header__newOrder svg {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  stroke: #CF6854;
}

.c__header .c__header__newOrder:hover {
  background: #CF6854;
  color: #FFFFFF;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.c__header .c__header__newOrder:hover svg {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  stroke: #FFFFFF;
}

.c__header .c__header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  grid-column-gap: 35px;
}

.c__header .c__header__nav a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #4A5568;
  white-space: nowrap;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.c__header .c__header__nav a:hover {
  color: #D24A43;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.c__header .c__header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-column-gap: 32px;
}

.c__header .c__header__info .notification-icon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.c__header .c__header__info .notification-icon .condition {
  position: absolute;
  top: 0;
  right: 2px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c__header .c__header__info .notification-icon svg {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  stroke: #425466;
}

.c__header .c__header__info .notification-icon:hover svg {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  stroke: #D24A43;
}

.c__header .c__header__info .notification-icon.act .condition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c__header .c__header__info .lang {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #757889;
  cursor: pointer;
  padding: 16px 10px;
  border: 2px solid rgba(235, 242, 250, 0.76);
}

.c__header .c__header__info .lang option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-column-gap: 7px;
}

.c__header .c__header__info .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-column-gap: 16px;
}

.c__header .c__header__info .profile .profile__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 48px;
  background: #7895FF;
  border-radius: 50%;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.c__header .c__header__info .profile .profile__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c__header .c__header__info .profile .profile__info .user__name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #4A5568;
}

.c__header .c__header__info .profile .profile__info .position {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #757889;
}

.sidebar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-row-gap: 15px;
  background: #FFFFFF;
  padding: 38px 20px;
  border-right: 1px solid #EDF2F7;
  max-width: 248px;
  width: 100%;
  margin-right: 50px;
}

.sidebar__menu .title {
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #A8A8BA;
  cursor: default;
}

.sidebar__menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-row-gap: 6px;
}

.sidebar__menu .menu__list .menu__item a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  grid-column-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #4A5568;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.sidebar__menu .menu__list .menu__item a svg {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  stroke: #718096;
}

.sidebar__menu .menu__list .menu__item a .counter {
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: 20px;
  padding: 2px 10px;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: rgba(207, 104, 84, 0.2);
  border-radius: 100px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #CF6854;
}

.sidebar__menu .menu__list .menu__item a:hover {
  color: #D24A43;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.sidebar__menu .menu__list .menu__item a:hover svg {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  stroke: #D24A43;
}

.sidebar__menu .logout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  grid-column-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: flex-end;
  padding: 16px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #4A5568;
}

.sidebar__menu .logout svg {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  fill: black;
}

.sidebar__menu .logout:hover {
  color: #D24A43;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.sidebar__menu .logout:hover svg {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  fill: #D24A43;
}

.account__wrapper {
  background: #FFFFFF;
  border-radius: 16px;
  padding: 25px;
  width: 336px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 25px;
  margin-right: 25px;
}

.account__wrapper .section__title {
  padding-bottom: 24px;
}

.account__wrapper .account__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.account__wrapper .account__info .owner, .account__wrapper .account__info .owner__id__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 26px;
}

.account__wrapper .account__info .owner div, .account__wrapper .account__info .owner__id__wrapper div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
  color: #91929E;
  margin-left: 14px;
}

.account__wrapper .account__info .owner div .owner-name, .account__wrapper .account__info .owner div .owner-id, .account__wrapper .account__info .owner__id__wrapper div .owner-name, .account__wrapper .account__info .owner__id__wrapper div .owner-id {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #3A3A39;
  padding-top: 4px;
}

.volume__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #FFFFFF;
  border-radius: 16px;
  padding: 25px;
  width: 410px;
  margin-bottom: 25px;
}

.volume__wrapper .title__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-column-gap: 20px;
  padding-bottom: 25px;
}

.volume__wrapper .volume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-style: normal;
  font-weight: 600;
  font-size: 27px;
  line-height: 33px;
  color: #4A5568;
}

.calendar__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  background: #FFFFFF;
  border-radius: 16px;
  padding: 25px;
}

.calendar__wrapper .title__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 25px;
}

.content__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  margin-right: 50px;
}

.content__wrapper .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 71.5%;
          flex: 1 0 71.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 16px;
}

.content__wrapper .addresses__wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 28.5%;
          flex: 1 0 28.5%;
  background: #FFFFFF;
  border-radius: 16px;
  padding: 25px;
}

.content__wrapper .addresses__wrapper .addresses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-row-gap: 30px;
}

.content__wrapper .addresses__wrapper .addresses .section__title {
  padding-bottom: 32px;
}

.content__wrapper .addresses__wrapper .addresses .addresses__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.content__wrapper .addresses__wrapper .addresses .addresses__list .list__item {
  border-top: 1px dashed #CCD4DE;
  border-bottom: 1px dashed #CCD4DE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 30px 0;
}

.content__wrapper .addresses__wrapper .addresses .addresses__list .list__item .item__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-column-gap: 17px;
}

.content__wrapper .addresses__wrapper .addresses .addresses__list .list__item .item__body .item__img {
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  background: #69B6B0;
}

.content__wrapper .addresses__wrapper .addresses .addresses__list .list__item .item__body .item__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-row-gap: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #91929E;
}

.content__wrapper .addresses__wrapper .addresses .addresses__list .list__item .item__body .item__text .name {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #4A5568;
}

.content__wrapper .addresses__wrapper .addresses .addresses__list .list__item .btn-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
}

.content__wrapper .addresses__wrapper .addresses .addresses__list .list__item .btn-more svg {
  fill: #718096;
}

.content__wrapper .addresses__wrapper .addresses .addresses__list .list__item:nth-child(n+2) .item__body .item__img {
  background: #E29950;
}

.content__wrapper .addresses__wrapper .addresses .addresses__list .list__item:nth-child(n+3) .item__body .item__img {
  background: #6C4675;
}

.content__wrapper .addresses__wrapper .addresses .addresses__list .list__item:nth-child(n+4) .item__body .item__img {
  background: #36ACBA;
}

.content__wrapper .addresses__wrapper .addresses .addresses__list .list__item:nth-child(n+5) .item__body .item__img {
  background: #6B89B5;
}

.content__wrapper .addresses__wrapper .addresses .addresses__list:not(first-child) {
  border-top: none;
}

.content__wrapper .addresses__wrapper .addresses .add-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #EDF1F6;
  border-radius: 8px;
  padding: 14px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #2F5E97;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.content__wrapper .addresses__wrapper .addresses .add-address:hover {
  background: #2F5E97;
  color: #FFFFFF;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.calendar__wrapper .dhx_cal_prev_button {
  background-image: url(../img/arrow_left.svg);
}

.calendar__wrapper .dhx_cal_next_button {
  background-image: url(../img/arrow_right.svg);
}

.calendar__wrapper .dhx_cal_prev_button {
  background-image: url(../img/arrow_left_hov.svg);
}

.calendar__wrapper .dhx_cal_next_button {
  background-image: url(../img/arrow_right_hov.svg);
}

.calendar__wrapper .dhx_cal_tab {
  display: none;
}

.calendar__wrapper .dhx_cal_scale_placeholder {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.calendar__wrapper .dhx_cal_date {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #4A5568;
  font-family: 'Fira Sans';
}

.calendar__wrapper .dhx_scale_bar {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
  color: #91929E;
  padding-bottom: 5px;
  font-family: 'Fira Sans';
}

.calendar__wrapper .dhx_month_head {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: rgba(145, 146, 158, 0.6);
  padding-top: 8px;
  font-family: 'Fira Sans';
}

.calendar__wrapper .dhx_cal_event_line,
.calendar__wrapper .dhx_cal_event_clear {
  background: #D36855;
  border-radius: 4px;
  color: #FFFFFF;
  font-family: 'Fira Sans';
}

.calendar__wrapper .dhx_cal_today_button {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  font-family: 'Fira Sans';
}

.dhx_cal_light {
  background: #FFFFFF;
  border-radius: 16px;
  font-family: 'Fira Sans';
}

.dhx_cal_light .dhx_cal_ltitle {
  text-align: center;
  border-radius: 16px 16px 0 0;
  border-bottom: 1px solid #2F5E97;
  background: #2F5E97;
}

.dhx_cal_light .dhx_cal_ltitle .dhx_title {
  text-transform: none;
}

.dhx_cal_light .dhx_cal_ltext textarea {
  border: 1px solid #E2E8F0;
  background: #FFFFFF;
  border-radius: 6px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.dhx_cal_light .dhx_cal_ltext textarea:hover,
.dhx_cal_light .dhx_cal_ltext textarea:focus {
  outline: none;
  border: 1px solid rgba(145, 146, 158, 0.6);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.dhx_cal_light .dhx_section_time select {
  border: 1px solid #E2E8F0;
  background: #FFFFFF;
  border-radius: 6px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.dhx_cal_light .dhx_section_time select:hover,
.dhx_cal_light .dhx_section_time select:focus {
  outline: none;
  cursor: pointer;
  border: 1px solid rgba(145, 146, 158, 0.6);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.dhx_cal_light .dhx_btn_set {
  outline: none;
  text-transform: none;
}

.dhx_cal_light .dhx_btn_set,
.dhx_cal_light .dhx_save_btn_set {
  background: #EDF1F6;
  border: 2px solid #EDF1F6;
  border-radius: 6px;
  color: #2F5E97;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.dhx_cal_light .dhx_btn_set:hover,
.dhx_cal_light div.dhx_save_btn_set:hover {
  background: #2F5E97;
  color: #FFFFFF;
  border-radius: 6px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.dhx_cal_light .dhx_delete_btn_set {
  background: #CF6854;
  border: 1px solid #CF6854;
  border-radius: 6px;
  color: #FFFFFF;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.dhx_cal_light .dhx_delete_btn_set:hover {
  background: #BF604D;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.dhx_cal_light .dhx_cancel_btn_set {
  background: #FFFFFF;
  border: 2px solid rgba(218, 131, 140, 0.3);
  border-radius: 6px;
  color: #4A5568;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.dhx_cal_light .dhx_cancel_btn_set:hover {
  background: #CF6854;
  border: 2px solid rgba(218, 131, 140, 0.3);
  border-radius: 8px;
  color: #FFFFFF;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.popup__title {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  color: #4A5568;
}

a.popup-text__link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 110%;
  color: #CF6854;
}

.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 50px 45px 50px;
  margin: auto;
  margin-top: 10vw;
  background: #FFFFFF;
  border-radius: 16px;
  max-width: 440px;
  font-family: 'Inter';
}

.popup .popup__title {
  padding-bottom: 40px;
}

.popup .popup__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.popup .popup__form .fieldset {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}

.popup .popup__form .fieldset label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 24px;
}

.popup .popup__form .fieldset label .input-description {
  padding-left: 16px;
  padding-bottom: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(113, 128, 150, 0.8);
}

.popup .popup__form .fieldset label .input-description::after {
  content: '*';
  color: rgba(218, 20, 20, 0.8);
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
}

.popup .popup__form .fieldset label input {
  padding: 12px 16px;
  background: #FFFFFF;
  border: 1px solid #CBD5E0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  color: #4A5568;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  outline: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.popup .popup__form .fieldset label input:hover,
.popup .popup__form .fieldset label input:focus {
  border: 1px solid #2F5E97;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.popup .popup__form .fieldset label .input-placeholder {
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 45px;
  left: 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgba(113, 128, 150, 0.5);
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.popup .popup__form .fieldset label .input-placeholder div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 15px;
  margin: 0;
}

.popup .popup__form .fieldset label input:focus ~ .input-placeholder, .popup .popup__form .fieldset label input:not(:placeholder-shown) ~ .input-placeholder, .popup .popup__form .fieldset label input:-webkit-autofill ~ .input-placeholder {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.popup .popup__form .fieldset .user-agree,
.popup .popup__form .fieldset .convenience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.popup .popup__form .fieldset .user-agree .checkbox__label,
.popup .popup__form .fieldset .convenience .checkbox__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  cursor: pointer;
  position: relative;
  margin-bottom: 0;
}

.popup .popup__form .fieldset .user-agree .checkbox__label .input-checkbox,
.popup .popup__form .fieldset .convenience .checkbox__label .input-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.popup .popup__form .fieldset .user-agree .checkbox__label .custom-checkbox,
.popup .popup__form .fieldset .convenience .checkbox__label .custom-checkbox {
  width: 35px;
  position: relative;
  padding-right: 10px;
}

.popup .popup__form .fieldset .user-agree .checkbox__label .custom-checkbox::before,
.popup .popup__form .fieldset .convenience .checkbox__label .custom-checkbox::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 23px;
  height: 23px;
  border: 1px solid rgba(44, 44, 44, 0.3);
  border-radius: 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.popup .popup__form .fieldset .user-agree .checkbox__label .custom-checkbox:hover::before,
.popup .popup__form .fieldset .convenience .checkbox__label .custom-checkbox:hover::before {
  border: 1px solid #00B7CE;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.popup .popup__form .fieldset .user-agree .checkbox__label .custom-checkbox::after,
.popup .popup__form .fieldset .convenience .checkbox__label .custom-checkbox::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  background: url(../img/contact-icons/tick-checkbox.svg);
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.popup .popup__form .fieldset .user-agree .checkbox__label .input-checkbox:checked ~ .custom-checkbox::before,
.popup .popup__form .fieldset .convenience .checkbox__label .input-checkbox:checked ~ .custom-checkbox::before {
  width: 24px;
  height: 24px;
  background: #00B7CE;
  border: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.popup .popup__form .fieldset .user-agree .checkbox__label .input-checkbox:checked ~ .custom-checkbox::after,
.popup .popup__form .fieldset .convenience .checkbox__label .input-checkbox:checked ~ .custom-checkbox::after {
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.popup .popup__form .fieldset .user-agree .checkbox__label .input-checkbox.error ~ .custom-checkbox::before,
.popup .popup__form .fieldset .convenience .checkbox__label .input-checkbox.error ~ .custom-checkbox::before {
  border: 1px solid #F2664F;
}

.popup .popup__form .fieldset .user-agree .checkbox__label .error,
.popup .popup__form .fieldset .convenience .checkbox__label .error {
  position: absolute;
  left: 0;
  bottom: -18px;
}

.popup .popup__form .fieldset .user-agree .checkbox__label .checkbox-text,
.popup .popup__form .fieldset .convenience .checkbox__label .checkbox-text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #4A5568;
}

.popup .popup__form .fieldset .user-agree .checkbox__label .checkbox-text a,
.popup .popup__form .fieldset .convenience .checkbox__label .checkbox-text a {
  color: #2F5E97;
  text-decoration: underline;
}

.popup .popup__form .fieldset .btn-submit {
  border: 1px solid #CF6854;
  border-radius: 7px;
  background: #CF6854;
  padding: 13px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-bottom: 30px;
}

.popup .popup__form .fieldset .btn-submit:hover {
  background: #BF604D;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.popup .popup__form .fieldset .radio__select {
  padding: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #F6F7F9;
  border-radius: 8px;
  margin-bottom: 28px;
}

.popup .popup__form .fieldset .radio__select label {
  -webkit-box-flex: 0.48;
      -ms-flex: 0.48;
          flex: 0.48;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  position: relative;
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 2px 2px rgba(2, 3, 3, 0.03)) drop-shadow(0px 3px 1px rgba(2, 3, 3, 0.02)) drop-shadow(0px 1px 5px rgba(2, 3, 3, 0.04));
          filter: drop-shadow(0px 2px 2px rgba(2, 3, 3, 0.03)) drop-shadow(0px 3px 1px rgba(2, 3, 3, 0.02)) drop-shadow(0px 1px 5px rgba(2, 3, 3, 0.04));
}

.popup .popup__form .fieldset .radio__select label input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  width: 1px;
}

.popup .popup__form .fieldset .radio__select label input::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  pointer-events: none;
  border-radius: 8px;
}

.popup .popup__form .fieldset .radio__select label span {
  z-index: 1;
  padding: 10px 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #020303;
}

.popup .popup__form .fieldset .radio__select label input:checked::after {
  background: #FFFFFF;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.popup .popup__form .fieldset .recaptcha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 23px;
}

.popup .or__text {
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  width: 100%;
  z-index: 1;
  padding: 8px;
  margin-bottom: 20px;
}

.popup .or__text span {
  background: #FFFFFF;
  color: #718096;
  padding: 8px;
}

.popup .or__text::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 1px solid #CBD5E0;
  z-index: -1;
}

.popup .log__with {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 28px;
}

.popup .log__with a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #CBD5E0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.popup .log__with a:first-child {
  margin-right: 5px;
}

.popup .log__with a:last-child {
  margin-left: 5px;
}

.popup .popup__question {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #425466;
  margin-bottom: 25px;
}

.create-page {
  margin-top: 5vw;
}

@media (max-width: 1440px) {
  .content__wrapper .content {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .content__wrapper .content .account__wrapper {
    width: 100%;
    max-width: 34.722vw;
  }
  .content__wrapper .content .volume__wrapper {
    width: 100%;
    max-width: 34.722vw;
  }
  .content__wrapper .content .volume__wrapper .volume {
    width: 100%;
  }
  .content__wrapper .addresses__wrapper {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
  .content__wrapper .calendar__wrapper {
    display: none;
  }
}

@media (max-width: 1024px) {
  .c__header .c__header__nav {
    display: none;
  }
  .content__wrapper {
    margin-right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content__wrapper .content .account__wrapper {
    max-width: 100%;
  }
  .content__wrapper .content .volume__wrapper {
    max-width: 100%;
  }
  .content__wrapper .content .volume__wrapper .volume {
    width: 400px;
  }
  .sidebar__menu {
    min-width: 248px;
  }
}

@media (max-width: 768px) {
  .c__header .menu-icon {
    outline: none;
    background: inherit;
    display: block;
  }
  .c__header .c__header__newOrder {
    display: none;
  }
  .c__header .c__header__info .profile .profile__info {
    display: none;
  }
  .sidebar__menu {
    position: absolute;
    display: none;
  }
  .page__title {
    margin: 0 25px;
  }
  .create-page,
  .log__in-page {
    margin-top: 20px;
    padding: 20px 15px 30px 15px;
  }
}

@media (max-width: 480px) {
  .content__wrapper .content .volume__wrapper .volume {
    width: 312px;
  }
}
/*# sourceMappingURL=cabinet.css.map */