*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 100;
  src: local("Fira Sans Thin"), local("FiraSans-Thin"), url("/public/fonts/FiraSans-Thin.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 200;
  src: local("Fira Sans ExtraLight"), local("FiraSans-ExtraLight"), url("/public/fonts/FiraSans-ExtraLight.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Fira Sans Light"), local("FiraSans-Light"), url("/public/fonts/FiraSans-Light.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Sans Regular"), local("FiraSans-Regular"), url("/public/fonts/FiraSans-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: local("Fira Sans Medium"), local("FiraSans-Medium"), url("/public/fonts/FiraSans-Medium.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Fira Sans SemiBold"), local("FiraSans-SemiBold"), url("/public/fonts/FiraSans-SemiBold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Fira Sans Bold"), local("FiraSans-Bold"), url("/public/fonts/FiraSans-Bold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 800;
  src: local("Fira Sans ExtraBold"), local("FiraSans-ExtraBold"), url("/public/fonts/FiraSans-ExtraBold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 900;
  src: local("Fira Sans Black"), local("FiraSans-Black"), url("/public/fonts/FiraSans-Black.ttf") format("truetype");
  font-display: swap;
}

header {
  background-image: url(/public/img/banner.png);
}
/*# sourceMappingURL=style.css.map */